In [16]:
import pandas as pd
import statsmodels.api as sm
import pylab as pl
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("http://www.ats.ucla.edu/stat/data/binary.csv")

In [3]:
print df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [5]:
df.columns = ["admit","gre","gpa","prestige"]
print df.columns

Index([u'admit', u'gre', u'gpa', u'prestige'], dtype='object')

In [7]:
print df.describe()

            admit         gre         gpa   prestige
count  400.000000  400.000000  400.000000  400.00000
mean     0.317500  587.700000    3.389900    2.48500
std      0.466087  115.516536    0.380567    0.94446
min      0.000000  220.000000    2.260000    1.00000
25%      0.000000  520.000000    3.130000    2.00000
50%      0.000000  580.000000    3.395000    2.00000
75%      1.000000  660.000000    3.670000    3.00000
max      1.000000  800.000000    4.000000    4.00000

In [8]:
print df.std()

admit         0.466087
gre         115.516536
gpa           0.380567
prestige      0.944460
dtype: float64

In [13]:
print pd.crosstab(df["admit"], df["prestige"], rownames =['admit'])

prestige   1   2   3   4
admit
0         28  97  93  55
1         33  54  28  12

In [19]:
df.hist()
plt.show()

In [21]:
#dummyfy rank
dummy_ranks = pd.get_dummies(df["prestige"], prefix= 'pe')
print dummy_ranks.head()

   pe_1  pe_2  pe_3  pe_4
0     0     0     1     0
1     0     0     1     0
2     1     0     0     0
3     0     0     0     1
4     0     0     0     1

In [28]:
cols_to_keep = ["admit","gre","gpa"]
data = df[cols_to_keep].join(dummy_ranks)
print data

     admit  gre   gpa  pe_1  pe_2  pe_3  pe_4
0        0  380  3.61     0     0     1     0
1        1  660  3.67     0     0     1     0
2        1  800  4.00     1     0     0     0
3        1  640  3.19     0     0     0     1
4        0  520  2.93     0     0     0     1
5        1  760  3.00     0     1     0     0
6        1  560  2.98     1     0     0     0
7        0  400  3.08     0     1     0     0
8        1  540  3.39     0     0     1     0
9        0  700  3.92     0     1     0     0
10       0  800  4.00     0     0     0     1
11       0  440  3.22     1     0     0     0
12       1  760  4.00     1     0     0     0
13       0  700  3.08     0     1     0     0
14       1  700  4.00     1     0     0     0
15       0  480  3.44     0     0     1     0
16       0  780  3.87     0     0     0     1
17       0  360  2.56     0     0     1     0
18       0  800  3.75     0     1     0     0
19       1  540  3.81     1     0     0     0
20       0  500  3.17     0     0     1     0
21       1  660  3.63     0     1     0     0
22       0  600  2.82     0     0     0     1
23       0  680  3.19     0     0     0     1
24       1  760  3.35     0     1     0     0
25       1  800  3.66     1     0     0     0
26       1  620  3.61     1     0     0     0
27       1  520  3.74     0     0     0     1
28       1  780  3.22     0     1     0     0
29       0  520  3.29     1     0     0     0
..     ...  ...   ...   ...   ...   ...   ...
370      1  540  3.77     0     1     0     0
371      1  680  3.76     0     0     1     0
372      1  680  2.42     1     0     0     0
373      1  620  3.37     1     0     0     0
374      0  560  3.78     0     1     0     0
375      0  560  3.49     0     0     0     1
376      0  620  3.63     0     1     0     0
377      1  800  4.00     0     1     0     0
378      0  640  3.12     0     0     1     0
379      0  540  2.70     0     1     0     0
380      0  700  3.65     0     1     0     0
381      1  540  3.49     0     1     0     0
382      0  540  3.51     0     1     0     0
383      0  660  4.00     1     0     0     0
384      1  480  2.62     0     1     0     0
385      0  420  3.02     1     0     0     0
386      1  740  3.86     0     1     0     0
387      0  580  3.36     0     1     0     0
388      0  640  3.17     0     1     0     0
389      0  640  3.51     0     1     0     0
390      1  800  3.05     0     1     0     0
391      1  660  3.88     0     1     0     0
392      1  600  3.38     0     0     1     0
393      1  620  3.75     0     1     0     0
394      1  460  3.99     0     0     1     0
395      0  620  4.00     0     1     0     0
396      0  560  3.04     0     0     1     0
397      0  460  2.63     0     1     0     0
398      0  700  3.65     0     1     0     0
399      0  600  3.89     0     0     1     0

[400 rows x 7 columns]

In [30]:
# manually add the intercept
data['intercept'] = 1.0
data.head()

   admit  gre   gpa  pe_1  pe_2  pe_3  pe_4  intercept
0      0  380  3.61     0     0     1     0          1
1      1  660  3.67     0     0     1     0          1
2      1  800  4.00     1     0     0     0          1
3      1  640  3.19     0     0     0     1          1
4      0  520  2.93     0     0     0     1          1